.page {
  background: rgb(45, 50, 80);
  background: -moz-radial-gradient(
    circle,
    rgba(45, 50, 80, 1) 0%,
    rgba(66, 71, 105, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(45, 50, 80, 1) 0%,
    rgba(66, 71, 105, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(45, 50, 80, 1) 0%,
    rgba(66, 71, 105, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d3250",endColorstr="#424769",GradientType=1);
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  align-items: center;
  background-color: rgb(70, 75, 106);
  margin: 10px auto;
}

card:hover {
  transform: scale(1.05);
}
.card img {
  width: 120px;
  border-radius: 6px;
}
.card h2 {
  font-size: 20px;
  margin: 12px 0 6px;
  color: rgb(255, 255, 255);
}
.price {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin-bottom: 12px;
}
.description {
  font-size: 14px;
  color: rgb(160, 167, 172);
  margin-bottom: 12px;
}
.card button {
  background-color: rgb(89, 94, 117);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.card button:hover {
  background-color: rgb(66, 71, 105);
}
.card button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.footer {
  background-color: rgb(45, 50, 80);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}
.form h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.form input {
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
  align-items: center;
  display: flex;
}
.form button {
  background-color: rgb(89, 94, 117);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.form button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.form button:active {
  background-color: rgb(66, 71, 105);
}
.form button:hover {
  background-color: rgb(66, 71, 105);
}
